html .ui-widget-header{
	border: 1px solid black;
	background: #0f0f0f;
	color: #ffffff;
	font-weight: bold;
}
html .ui-datepicker table .ui-state-disabled{ color: #999; }
html .ui-datepicker table .ui-state-default{ color: #666; }

html .ui-datepicker .ui-datepicker-header .ui-state-hover{
	border: 1px solid black;
	background: black;
	background-image: none;
	background-position: 50% 50%;
	font-weight: bold;
	color: white;
}
html .ui-datepicker table .ui-state-active{
	background: #999;
	color: white;
	border-color: #666;
}
html .ui-datepicker table .ui-state-hover{
	color: white;
	background: #333;
	border-color: #000;
}
html .ui-datepicker table .ui-state-disabled{
	color: #999;
	background: #ccc;
	border-color: #999;
}
html .ui-datepicker table .ui-state-highlight{
	border-color: #FED22F;
	color: black;
	background: #FFc;
}
html .ui-datepicker table .ui-datepicker-current-day a{
	border-color: #333;
}

/* AUTOCOMPLETE */
html .ui-autocomplete.ui-widget-content{
	background: #fcfcfc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-color: #ccc;
	border-bottom: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: 12px;
}
html .ui-autocomplete li{
	padding: 0;
	border: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}
html .ui-autocomplete .ui-menu-item a{
	padding: 5px 10px;
	float:none;
}
html .ui-autocomplete .ui-menu-item:hover a,
html .ui-autocomplete .ui-state-active,
html .ui-autocomplete .ui-state-focus{
	background: #FDF1AD;
	color: black;
	border-color: #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

html .ui-autocomplete .ui-menu-item a{
	float: none;
	text-decoration: none;
	cursor: default;
	outline: none;
}

aside .planifica{
	background:url(/img/back_box.png) repeat-x left top transparent;
	margin-bottom:10px;
}