.panel-cascade {
    border: 0px solid #E9ECEF;
}
.panel-cascade > .panel-body {
    border-radius: 4px;
}
.panel-cascade > .panel-body {
    border: 1px solid #B9C4D5;
    border-radius: 4px;
}
.panel-body {
    padding: 15px;
}
* {
    box-sizing: border-box;
}
.content .row {
    margin-right: 0px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.invoice-from {
    float: left;
    width: 300px;
    margin-top: 10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.list-unstyled {
    padding-left: 0px;
    list-style: outside none none;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
.invoice-to li, .invoice-from li {
    clear: left;
}
b, strong {
    font-weight: bold;
}
.invoice-to li span, .invoice-from li span {
    display: block;
}
.invoice-to {
    float: right;
    width: 370px;
    margin-top: 10px;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.table-bordered {
    border: 1px solid #DDD;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    max-width: 100%;
    background-color: transparent;
}
table {
    border-spacing: 0px;
    border-collapse: collapse;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0px none;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #DDD;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
th {
    text-align: left;
}
td, th {
    padding: 0px;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
td, th {
    padding: 0px;
}
p {
    margin: 0px 0px 10px;
}
.barcode {
    height: 80px;
}
.barcode {
    height: 80px;
}
img {
    vertical-align: middle;
}
img {
    border: 0px none;
}
.text-center {
    text-align: center;
}
.clear{
   clear:both;
}
.destaca{
	background-color:#F2DEDE;
}
