/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
html, body {
	height: auto;
	overflow: auto;
    overflow: -moz-scrollbars-vertical;
	right: 50%;
}
#page-wrap {
	width: 960px;
	padding: 0 0 0 0px;
	margin: 0 auto;
	overflow: inherit;
	height: auto;
}

.info-col {
	float: center;
	height: auto;
	width: 100%;
}
.info-col h2 {
	text-align: center;
	font-weight: normal;
}

.image { height: 100px; text-indent: -9999px; display: block; border-right: 1px solid white; }

dt {
	background: #900;
	color: white;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	text-align: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.social {
	background-image: url(../images/icons/social.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.patente {
	background-image: url(../images/icons/comercial.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.circulacion {
	background-image: url(../images/icons/permiso.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.licencia {
	background-image: url(../images/icons/licencia.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.aseo {
	background-image: url(../images/icons/aseo.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.obras {
	background-image: url(../images/icons/obra.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.inspecciones {
	background-image: url(../images/icons/inspecciones.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.provisorio {
	background-image: url(../images/icons/provisorio.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}
.tesoreria {
	background-image: url(../images/icons/pagos.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 25px;
}






dd {
	position: absolute;
	left: -9999px;
	top: -9999px;
	background: #900;
	padding: 10px;
	color: white;
	border-right: 1px solid white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

dt:nth-of-type(1) {
	background-color: #ab1b01;
}
dd:nth-of-type(1) {
	background: #ab1b01;
}

dt:nth-of-type(2) {
	background: #e1621a;
}
dd:nth-of-type(2) {
	background: #e1621a;
}

dt:nth-of-type(3) {
	background: #d08e00;
}
dd:nth-of-type(3) {
	background: #d08e00;
}

dt:nth-of-type(4) {
	background: #9d7f3e;
}
dd:nth-of-type(4) {
	background: #9d7f3e;
}

dt:nth-of-type(5) {
	background: #573d23;
}
dd:nth-of-type(5) {
	background: #573d23;
}

dt:nth-of-type(6) {
	background: #465837;
}
dd:nth-of-type(6) {
	background: #465837;
}

dt:nth-of-type(7) { background: #21332c; }
dd:nth-of-type(7) { background: #21332c; }

dt:nth-of-type(8) {	background: #1f4952;}
dd:nth-of-type(8) {	background: #1f4952;}

dt:nth-of-type(9) {	background: #074693;}
dd:nth-of-type(9) {	background: #074693;}

.curCol {
	z-index: 1;
	position: relative;
}
