#login {position:absolute;width: 330px;left:50%;margin-left:-165px;top:120px;background:none !important;
}
#login .form-control, #forgot .form-control{width: 300px !important;
}
.btn{width: 100% !important;color:#FFF !important;
}
#forgot {position:absolute;width: 330px;left:50%;margin-left:-165px;top:320px;
}
.list-inline{display:none !important;	
}
.container_box{display:none !important;
}
.container_box ul {display:none !important;
}