body, html {
	height: 100%;
	width: 100%;
}
td {
	vertical-align: top;
}
.btn_link {
	display: block;
	height: 60px;
}
.fleft{
	float: left;	
}
.fright{
	float: right;	
}
.clear {
	clear: both;
}

.btn_comment{
	background-image: url(../img/btn_coment_up.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_search{
	background-image: url(../img/btn_search_fr_up.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_gallery{
	background-image: url(../img/btn_gallery_up.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_profile{
	background-image: url(../img/btn_profile_up.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_etique{
	background-image: url(../img/btn_etique_up.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.app_tittle{
	font-family: 'Lobster', cursive;
	font-size: 32px;
	color: #808080;
	text-align: center;
	padding-top: 10px;
}
.body {
	padding: 5%;

}
.margin_top_5px {
	margin-top: 5px;
}
.pure-button {
	padding-top: 8px !important;
	padding-right: 0px !important;
	padding-bottom: 8px !important;
	padding-left: 0px !important;
	font-weight: bold;
	color: #666;
}
.pure-button-1{
	color: #333;
	background-color: #FFF;
	border-color: #CCC;	
}
.pure-button-1:hover{
	color: #333;
	background-color: #E6E6E6;
	border-color: #ADADAD;	
}
.pure-button-2{
	color: #FFF;
	background-color: #428BCA;
	border-color: #357EBD;	
}
.pure-button-2:hover{
	color: #FFF;
	background-color: #3071A9;
	border-color: #285E8E;	
}
.pure-button-3{
	color: #FFF;
	background-color: #5CB85C;
	border-color: #4CAE4C;	
}
.pure-button-3:hover{
	color: #FFF;
	background-color: #449D44;
	border-color: #398439;	
}
.pure-button-4{
	color: #FFF;
background-color: #C1272D;
border-color: #D43F3A;	
}
.pure-button-4:hover{
	color: #FFF;
background-color: #C9302C;
border-color: #AC2925;	
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.alert-info {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
.alert-warning {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}
.alert-danger {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.submenu {
	color: #cacaca;
	font-weight: bolder;
	text-decoration: none;
	display: block;
	height: 32px;
	text-align: center;
	padding-top: 8px;
}
.submenu_active {
	color: #FFF;
}




.perfil_img {
}
.perfil_img td img {
	margin: 5%;
	width: 90%;
	border-radius: 5px;
}

.perfil_img p {
	text-align: center;
	color: #CCC;
	width: 33%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
}
.perfil_img p span {
	color: #666;
}
.perfil_img .no_border_right{
	border-right-style: none !important;	
}
.perfil_info {
}
.perfil_info .infobox {
	background-color: #F9E9EA;
	padding: 3%;
	height: 88%;
	width: 88%;
	margin: 3%;
	border-radius: 5px;
}
.perfil_info .infobox .contacto{
	padding-left: 10px;
}

.perfil_menu {
	background-color: #C1272D;
}
.perfil_menu  p {
	font-weight: bolder;
	color: #FFF;
	margin-top: 7px;
	margin-left: 5px;
}
.mascota_box {
	height: 60px;
}
.mascota_box  img {
	margin: 5%;
	width: 90%;
	border-radius: 5px;
}





.normal_boton{
	padding-right: 5px !important;
	padding-left: 5px !important;	
}
