@charset "utf-8";
.logo_flot {
	position: relative;
	top: -50px;
	right: 375px;
	margin-bottom: -200px;
}



.tabla_bca_sombra {
	border-radius: 10px 10px 10px 10px;
	-ms-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 0px 5px 0px #555;
	-moz-box-shadow: 0 0px 5px 0px #555;
	box-shadow: 0 0px 3px 0px #555;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
	border: 4px solid #ccc;
	padding: 20px;
	background-image: url(images/logo_agua.png);
	background-position: right bottom;
	background-color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}
.celda_borde {
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom-width: thin;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}


.rojo_sombra_ch {
	border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0px 5px 0px #555;
	-moz-box-shadow: 0 0px 5px 0px #555;
	box-shadow: 0 0px 3px 0px #555;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #FFF;
	height: 19px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #000;
	padding-right: 5px;
	padding-left: 5px;
	margin-left: 3px;
	margin-top: 0px;
}
.rojo_sombra_ch:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
}
.arial_light_med {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #666;
}
.arial_light_cuadro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #666;
	width: 95%;
	margin-right: 10px;
}
.arial_light_combo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: lighter;
	color: #666;
	text-align: left;
	margin-top: -10px;
	vertical-align: middle;
	height: 25px;
	width: 95%;
}


.arial_rojo_light_med {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #FC0;
}
.arial_bco_light_med {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	color: #FFF;
}

.bot_sombra {
	border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0px 7px 0px #333;
	-moz-box-shadow: 0 0px 7px 0px #333;
	box-shadow: 0 0px 7px 0px #333;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #666;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}


.bot_sombra:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
	color: #FFF;
}
.bot_sombra1 {
	border-radius: 3px 3px 3px 3px;
	-ms-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0px 7px 0px #333;
	-moz-box-shadow: 0 0px 7px 0px #333;
	box-shadow: 0 0px 7px 0px #333;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #666;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
}
.bot_sombra1:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
	color: #FFF;
}

.bot_sombra_cent {
	border-radius: 0px 0px 0px 0px;
	-ms-border-radius: 0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	-khtml-border-radius: 0px 0px 0px 0px;
	-webkit-box-shadow: 0 0px 7px 0px #333;
	-moz-box-shadow: 0 0px 7px 0px #333;
	box-shadow: 0 0px 7px 0px #333;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #666;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 0px;
	margin-left: 0px;
}
.bot_sombra_cent:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
	color: #FFF;
}

.bot_sombra_izq{
	border-radius: 3px 0px 0px 3px;
	-ms-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0px 7px 0px #333;
	-moz-box-shadow: 0 0px 7px 0px #333;
	box-shadow: 0 0px 7px 0px #333;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #666;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -3px;
}



.bot_sombra_izq:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
	color: #FFF;
}


.bot_sombra_der {
	border-radius: 0px 3px 3px 0px;
	-ms-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	-khtml-border-radius: 0px 3px 3px 0px;
	-webkit-box-shadow: 0 0px 7px 0px #333;
	-moz-box-shadow: 0 0px 7px 0px #333;
	box-shadow: 0 0px 7px 0px #333;
	background-image: url(images/trans_bot.png);
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 11px;
	color: #666;
	height: 28px;
	text-align: center;
	vertical-align: middle;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	background-repeat: repeat-x;
	background-color: #FFF;
	padding-right: 10px;
	padding-left: 10px;
	margin-left: -3px;
}
.bot_sombra_der:hover {
	background-color: #333;
	cursor: pointer;
	cursor: hand;
	color: #FFF;
}

body {
	background-color: #e6e6e6;
	background-image: url(images/fondo.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	margin-top: 0px;
}
/* CSS Document */

.google_fjalla {
	font-family: 'Fjalla One', sans-serif;
	font-size: 15px;
	color: #666;
	line-height: 25px;
}
.google_fjalla_gde {
	font-family: 'Fjalla One', sans-serif;
	font-size: 32px;
	color: #333;
	padding-left: 30px;
	padding-right: 30px;
}
.arial_tit_gris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #666;
}
.arial_cuerpo_gris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}


.google_fjalla_gde_red {
	font-family: 'Fjalla One', sans-serif;
	font-size: 32px;
	color: #EA2100;
	padding-right: 30px;
}
.google_fjalla_bco {
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	color: #FFF;
	padding-right: 10px;
}



.google_arizonia {
	font-family: 'Arizonia', cursive;
	font-size: 60px;
	color: #F00;
}

html, body
{
	height: 100%;
	vertical-align: top;
}

#nonFooter {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
* html #nonFooter {
	height: 100%;
}
#Footer {
	position: relative;
	height: 30px;
	margin-top: -94px;
	margin-bottom: 0px;
}
.pie {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	background-color: #999;
	height: 100%;
	width: 100%;
	margin-top: 0px;
}
.pie2 {
	width: 100%;
	top: 80px;
}


.a {
	font-weight: bold;
	color: #FF7C00;
	text-decoration: none;
}

.a:hover {
	color: #333;
}
